REPO_URL=https://github.com/kali113/somnia2.git
BRANCH=main
APP_NAME=somnia2-api
DEPLOY_ROOT=/opt/somnia2-deployer
LIVE_WEB_ROOT=/var/www/somnia2
STATUS_ROOT=/var/www/somnia2-status
SERVER_ENV_SOURCE=/opt/somnia2-deployer/server.env
KEEP_RELEASES=3
